{{!-- looping through our scrapes that we send to saved page --}}
{{#each articles}}
{{#if saved}}
<div class="container">
    <div class="col-md-4 float-left d-flex h-200">
        <div class="card card-body m-3" id="scrollCard" style="width: 18rem;">
            <picture>
                <img class="img-thumbnail rounded float-left m-2" id="cardImg" src="{{image}}">
                <h5><a class="linkText" href="{{link}}">{{title}}</a></h5>
            </picture>

            <div class="text-center">
                <button data-id="{{_id}}" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2 commentBtn"
                    data-toggle="modal">Comments</button>
                <button data-id="{{_id}}" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2 deleteBtn"
                    data-toggle="modal">Delete</button>
                {{!-- Beginning of  comments modal --}}
                <div class="modal" tabindex="-1" role="dialog" id="commentModal-{{_id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>ADD A COMMENT!</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="titleField">Title</label>
                                        <input type="text" class="form-control titleField-{{_id}}"
                                            placeholder="Title or Name or Something">
                                    </div>
                                    <div class="form-group">
                                        <label for="commentTextBody">Comment</label>
                                        <textarea class="form-control commentTextBody-{{_id}}" rows="3"></textarea>
                                    </div>
                                </form>
                                <div class="commentField text-center">
                                    {{!-- comment section --}}
                                    {{#comment}}
                                    <span>
                                        <button type="button" data-id="{{_id}}"
                                            class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2 removeCmt float-left m-1">Delete</button>
                                    </span>
                                    <h5>{{title}}</h5>
                                    <p>{{text}}</p>
                                    <hr>
                                    {{/comment}}
                                    {{!-- end comment --}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2" id="saveComment"
                                    data-id="{{_id}}">Save</button>
                                <button type="button" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End of Modal --}}
            </div>


        </div>

    </div>
</div>
{{/if}}
{{/each}}

{{!-- another loop for those second results --}}
{{#each articles2}}
{{#if saved}}
<div class="container">
    <div class="col-md-4 float-left d-flex h-200">
        <div class="card card-body m-3" id="scrollCard" style="width: 18rem;">
            <picture>
                <img class="img-thumbnail rounded float-left m-2" id="cardImg" src="{{image}}">
                <h5><a class="linkText" class="linkText" href="{{link}}">{{title}}</a></h5>
            </picture>

            <div class="text-center">
                <button data-id="{{_id}}" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2" "commentBtn"
                    data-toggle="modal">Comments</button>
                <button data-id="{{_id}}" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2" "deleteBtn"
                    data-toggle="modal">Delete</button>
                {{!-- Beginning of  comments modal --}}
                <div class="modal" tabindex="-1" role="dialog" id="commentModal-{{_id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>ADD A COMMENT!</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="titleField">Title</label>
                                        <input type="text" class="form-control textField-{{_id}}"
                                            placeholder="Title or Name or Something">
                                    </div>
                                    <div class="form-group">
                                        <label for="commentTextBody">Comment</label>
                                        <textarea class="form-control commentTextBody-{{_id}}" rows="3"></textarea>
                                    </div>
                                </form>

                            </div>
                            {{!-- Modal footer with buttons and comments --}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2" id="saveComment"
                                    data-id="{{_id}}">Save</button>
                                <button type="button" class="btn btn-dark btn-lg box-shadow--16dp buttonFonts m-2"
                                    data-dismiss="modal">Close</button>
                            </div>
                            <div class="commentField text-center">
                                {{!-- comment section --}}
                                {{#comment}}
                                <span><button type="button" data-id="{{_id}}"
                                        class="btn btn-primary removeCmt float-left m-1">Remove</button>
                                </span>
                                <h5>{{title}}</h5>
                                <p>{{text}}</p>
                                <hr>
                                {{/comment}}
                                {{!-- end comment --}}
                            </div>
                            {{!-- End of modal footer and comments --}}
                        </div>
                    </div>
                </div>
                {{!-- End of Modal --}}
            </div>


        </div>

    </div>
</div>
{{/if}}
{{/each}}